@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700;900&display=swap');
h1, h2{
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    margin: 0;
}

#header {
  height: 250px;
  object-position: 0% 0%; 
  object-fit: cover;
}
