@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700;900&display=swap');
p {
  font-family: 'Archivo', sans-serif;
}

h1, h2{
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

#header {
  height: 300px;
  object-fit: cover;
  object-position: 0% 50%; 
}

.card {
    font-family: 'Archivo', sans-serif;
text-align: center;
position: absolute;
top: 425px;
background-color: white;
width: 250px;
height: 350px;
border-radius: 25px;
transition: 0.5s;
}

.card:hover {
filter: drop-shadow(0px 0px 20px black);
  top: 415px;
}

.cost {
width: 100%;
height: 100px;
background-color: rgb(40, 40, 40);
text-align: center;
display: grid;
align-content: center;
}
.vertical-center {
  margin: 0;
}
